/* CONSTANTS  */

:root {

  --purple: #311546;
  --yellow: #ccac63;
  --orange: #84372b;
  --greenbright: #4caf50;
  --green:#59a997;
  --pink: #912657;
  --grey: rgba(129, 129, 129, 0.65);
  --color: #00b4ff;
  --speed: 5;
  --headings: "Jura", sans-serif;
  --titles: "Saira Stencil One", serif;
  --subtitles: "Allerta Stencil", serif;
  --heading-line-spacing: 0.15rem;
}

/* GET RID OF TWINE STYLES */

#story {
  margin: 0;
}

#passages {
  max-width: 100%;
}

.passage {
  height: 100vh;
  padding:5rem;
}

#story a.link-external:after {
  content: "";
}

button {
  background-color: transparent;
  border: #fff 1px solid;
  border-radius: 3px;
}

button:hover {
  background-color: var(--green);
  border: #fff 1px solid;
  color: black;
}

a {
  color: var(--green);
}

a:active {
  background-color: var(--green);
}

a:hover {
  color: #fff;
}

#story a.link-external:after {
  content: "";
}

#story {
  margin: 0;
}

.disappear {
  display: none !important;
}

/* GENERAL STYLES */
body {
  font-size: 1.6rem;
  font-family: "Space Grotesk";
  /* overflow: hidden; */
  /* overflow: scroll; */
  background: var(--purple);
  /* background-image: url("../assets/img/backgrounds-32.png"); */
  background-size: cover;
}

body.green{
  background: var(--green);
  background-image: url("../assets/img/backgrounds-31.png");
  color: black;
}

header {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}

header > h1, header > h2{
  margin-block-end: 0;
}

header > h2{
  font-family: var(--subtitles);
  text-transform: initial;

}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* border: 2px solid white; */
}

/* .wrapper.box {
  border: 2px solid white;
} */

main {
  padding: 2rem;
  margin-block-end: 4rem;
  /* margin-top: -5rem; */
}

textarea {
  min-width: 60vw;
}

h1,
h2,
h3,
h4 {
  /* font-family: var(--headings); */
  font-family: var(--titles);
  text-transform: uppercase;
  letter-spacing: var(--heading-line-spacing);
}

h1{
  font-size: 4.5rem;
}

h2{
  font-size: 3rem;
}

h3{
  font-size: 2.5rem;
}

h1.title,
h2.subtitle {
  background: var(--purple);
  width: fit-content;
  padding: 0 1rem;
  transform: rotate(-3deg);
  color: white;
  /* margin-left: -10rem; */
}


h1.title.larger-title {
  text-transform: uppercase;
  font-size: 4rem;
  transform: rotate(3deg);
}

h2.subtitle, h1.subtitle{
  font-family: var(--subtitles);
  text-transform: initial;
}

h2.subtitle.inline {
  display: inline-block;
  transform: rotate(-4deg);
  margin: 0.5rem 0.55rem;
  font-family: var(--titles);
  text-transform: uppercase;
}

h1.title.left,
h2.subtitle.left {
  margin-left: -10rem;
}

h2.subtitle.green{
  background-color: var(--green);
  color:black;
}

span.white.simple, span.simple{
  background-color: transparent;
  color:white;
  font-family: var(--titles);
  font-size: 2.5rem;

  font-family: var(--subtitles);
}

h1.title.top {
  margin-left: -3rem;
}

h4 {
  margin-bottom: 1rem;
  background: var(--green);
  width: fit-content;
  color: black;
  padding: 0 1rem;
  transform: rotate(-2deg);
  font-size: 2rem;
}

.spinning {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* transform: rotate(3deg); */
  /* transform: rotate(0.3rad);/ */
  /* transform: rotate(3grad); */
  /* transform: rotate(.03turn);  */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main.speaking.inlineimg {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

main.speaking.inlineimg > img {
  max-width: 300px;
  transform: rotate(-4deg);
  margin-inline-start: 4rem;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: fixed;
  bottom: 2%;
  padding: 2rem;
  width: 100%;
  height: 10%;
  background-color: transparent;
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.nav-wrapper:last-child {
  align-items: flex-end;
}

.nav-item {
  margin-inline-end: 1.5rem;
}

.nav-item:last-child {
  margin-inline-end: 0;
}

.nav-item.logo {
  position: fixed;
  bottom: 2%;
  right: 2%;
  width: 20rem;
  /* margin-right: -5rem;
  margin-bottom: -5rem; */
}

.nav-wrapper:last-child {
  display: flex;
  align-items: flex-end;
}

.nav-wrapper.btns {
  background-color: white;
  padding: 0.6rem;
  /* margin-bottom: -4rem; */
}

.nav-wrapper.space {
justify-content: space-between;
}

.nav-wrapper.btns > .nav-item > button {
  color: black;
}

/* fixed footer without box  */

footer.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
}

footer.fixed > .nav-wrapper.btns {
  margin-bottom: 0;
}

footer.fixed > .nav-wrapper > .nav-item.logo {
  margin: 0;
}

footer.space{
  justify-content: space-between;
}

/* MODULE LIST */

main.modules {
  padding: 4rem;
}

main.modules > h1.title {
  margin: 0;
  text-align: center;
  margin-top: -2rem;
  margin-bottom: 1rem;
}

.menu-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.menu-wrapper > button {
  margin-inline-end: 10px;
  margin-block-end: 10px;
}

.menu-wrapper.module-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  height: 100%;
}

.menu-wrapper.module-list > .menu-item {
  /* border: 1px solid white; */
  width: 18%;
  /* height: 80%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  position: relative;
}

.menu-wrapper.module-list > .menu-item > img,
.menu-wrapper.module-list
  > .menu-item
  > .flip-card-inner
  > .flip-card-front
  > img {
  margin-block-end: 2rem;
  border-radius: 10px;
  filter: grayscale(100%);
  /* animation: float 6s ease-in-out infinite; */
}

.menu-wrapper.module-list > .menu-item {
}

.menu-wrapper.module-list > .menu-item:hover,
.menu-wrapper.module-list > .menu-item:active {
  animation: grow 1s ease forwards;
  /* transition: transform 2s ease-in-out; */
}

.menu-wrapper.module-list
  > .menu-item.complete
  > .flip-card-inner
  > .flip-card-front
  > img {
  filter: grayscale(0%);
  /* background-color: var(--green); */
  /* border: 4px solid var(--green); */
}
.menu-wrapper.module-list > .menu-item > h2 {
  position: absolute;
  bottom: -3rem;
  right: 0;
  font-size: 1.8rem;
}

.menu-wrapper.module-list > .menu-item .macro-append-insert > h3.complete {
  position: absolute;
  top: 0rem;
  left: 8rem;
}

h3.complete {
  background: var(--greenbright);
  width: fit-content;
  padding: 0 1rem;
  transform: rotate(-4deg);
  margin-left: -10rem;
  font-size: 3rem;
}

h2.subtitle.complete {
  background: var(--pink);
}

.dissolve {
  animation: dissolve 0.5s ease-out normal;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-5px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

@keyframes grow {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

@keyframes dissolve {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes twist {
  0% {
    /* transform: scale(1.2); */
  }

  100% {
    transform: rotateY(180deg) scale(1.3);
    /* transform: ; */
  }
}


/* SPEAKING  */

main.speaking {
  /* padding: 1rem 8rem; */
  width: 60%;
  margin: auto;
  margin-top: 0;
  /* overflow:scroll; */
  /* margin-left: 10rem; */
}

main.speaking.scroll {
  /* overflow: scroll; */
}

main.speaking > .text-wrapper {
  width: 100%;
  font-size: 1.8rem;
  /* height: 45vh; */
  margin-bottom: 20rem;

  /* overflow: scroll; */
}

main.speaking > .text-wrapper.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: x-large;
}

main.speaking > .text-wrapper.hero > h2.subtitle {
  font-size: 5rem;
}

/* GAME  */

main.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main.game > h1.title {
  font-size: 7rem;
  margin-block-end: 0;
}

.game-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.game-wrapper > div > h2.subtitle {
  font-size: 5.5rem;
  transform: rotate(4deg);
  text-align: center;
  margin: auto;
  margin-block-end: 3rem;
  width: fit-content;
}

.countdown {
  border: 1px solid white;
  padding: 3rem;
  border-radius: 20%;
  background-color: white;
  color: var(--pink);
  position: absolute;
  left: 8%;
}
.timer > .countdown > h3 {
  margin-bottom: 0;
  font-size: 6rem;
}

.options-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-block-end: 2rem;
}

.options-wrapper > .option {
  background-color: black;
  padding: 1.5rem;
  margin-inline-end: 1rem;
}
.options-wrapper > .option > a,
.options-wrapper > .option > span {
  font-family: var(--headings);
  color: white;
  font-weight: 900;
  font-size: 3rem;
}

/* CODEWORD  */

main.codeword {
  padding: 0 8rem;
}

.codeword-title-wrapper {
  text-transform: uppercase;
}

.codeword-title-wrapper > h1.title:last-child {
  transform: rotate(4deg);
  margin-left: -5rem;
}

.codeword-title-wrapper.indent > h1.title {
  margin-left: 0rem;
}

.codeword-title-wrapper.indent > h1.title:last-child {
  transform: rotate(4deg);
  margin-left: 5rem;
}

.code-input {
  margin-block-end: 2rem;
}

.code-input > input {
  min-width: inherit;
  background-color: black;
  border: none;
  border-radius: 4px;
  transform: rotate(-2deg);
}

.code-input > input:focus {
  background-color: var(--orange);
  border: 1px solid white;
}

.codeword-wrapper > .btn-result-wrapper {
  display: flex;
  align-items: baseline;
}

.codeword-wrapper > .btn-result-wrapper > button {
  margin-inline-end: 2rem;
}

.coderesult > h2.subtitle {
  margin-left: 0;
  font-size: 2rem;
  color: white;
}

.enter-codename-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 2rem;
}

.enter-codename-wrapper > h2 {
  text-transform: uppercase;

  transform: rotate(4deg);
  margin-bottom: 6rem;
}

.enter-codename-wrapper > input {
  margin-inline-end: 2rem;
  min-width: inherit;
  min-height: 6rem;
  background-color: black;
  border: none;
  border-radius: 4px;
  transform: rotate(-2deg);
  color: white;
  font-size: 4rem;
}

.enter-codename-wrapper > button {
  margin-inline-end: 2rem;
  min-width: inherit;
  background-color: black;
  border: none;
  border-radius: 4px;
  transform: rotate(-2deg);
  color: white;
}

/* LANDING  */

main.codeword.landing {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-block-end: 0;
}

main.codeword.landing > .enter {
  max-width: 100%;
}

.logo-wrapper.landing{
  justify-content: center;
  gap:3rem;
  padding: 5rem;
  max-width: 50%;
}

.logo-wrapper.landing > img{
max-width: 100%;

}


.triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 100px 173.2px 100px;
  border-color: transparent transparent var(--green) transparent;
  transform: rotate(0deg);
}

.triangle.gold {
  border-color: goldenrod;
}

.x {
  animation: x 13s linear infinite alternate;
}

.y {
  position: fixed;
  animation: y 7s linear infinite alternate;
  -webkit-animation: rotate 5s ease 0s infinite normal;
  -moz-animation: rotate 5s ease 0s infinite normal;
  -ms-animation: rotate 5s ease 0s infinite normal;
  animation: rotate 5s ease 0s infinite normal;
}



@keyframes x {
  100% {
    transform: translateX(calc(100vw - 1080px));
  }
}

@keyframes y {
  100% {
    transform: translateY(calc(100vh - 1080px));
  }
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}


/* LOADING  */

.loadingspin{
  /* position: fixed;
  animation: y 7s linear infinite alternate; */
    -webkit-animation: rotate 5s ease 0s infinite normal;
    -moz-animation: rotate 5s ease 0s infinite normal;
    -ms-animation: rotate 5s ease 0s infinite normal;
    animation: rotate 5s ease 0s infinite normal;

}

.loading-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.container {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  perspective: 300px;
  perspective-origin: 50% 40%;
}

.loading-title-container{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2.loading{
  font-size: 5rem;
}



.side {
  position: absolute;
  left: 140px;
  top: 150px;
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-bottom: 120px solid green;
  transform-origin: 50% 0%;
  /* animation: spin var(--speed) + s infinite linear; */
  animation: spin 5s infinite linear;
}

.back {
  /* animation-delay: -(var(--speed) / 2) + s; */
  animation-delay: -5s;
}

.right {
  /* animation-delay: -(var(--speed) / 4) + s; */
  animation-delay: -1.25s;
}

.front {
  /* animation-delay: -(var(--speed) / 2) + s; */
  animation-delay: -2.5s;
}

.left {
  /* animation-delay: -(var(--speed) * 0.75) + s; */
  animation-delay: -3.75s;
}

@keyframes spin {
  0% {
    transform: rotateY(0deg) rotateX(30deg);
    /* border-bottom-color: lighten(var(--color), 5%); */
    border-bottom-color: #4a70da;
  }
  25% {
    transform: rotateY(90deg) rotateX(30deg);
    /* border-bottom-color: darken(var(--color), 5%); */
    border-bottom-color: #4068d7;
    opacity: 1;
  }
  25.1% {
    opacity: 0.5;
  }
  50% {
    transform: rotateY(180deg) rotateX(30deg);
    /* border-bottom-color: darken(var(--color), 12%); */
    border-bottom-color: #184bd9;
  }
  74.9% {
    opacity: 0.5;
  }
  75% {
    transform: rotateY(270deg) rotateX(30deg);
    /* border-bottom-color: darken(var(--color), 15%); */
    border-bottom-color: #0032bc;
    opacity: 1;
  }
  100% {
    transform: rotateY(360deg) rotateX(30deg);
    /* border-bottom-color: lighten(var(--color), 5%); */
    border-bottom-color: #5069b0;
  }
}

.shadow {
  position: absolute;
  top: 300px;
  left: 175px;
  width: 50px;
  height: 50px;
  background-color: #bbb;
  box-shadow: 0 0 40px 40px #bbb;
  animation: shadow 5s infinite linear;
}

@keyframes shadow {
  0% {
    transform: rotateX(90deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(90deg) rotateZ(-360deg);
  }
}



/* ANIMATION  */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes unlock {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(50deg);
  }
}

.fade-in1 {
  animation: 1s linear 0s 1 fadeIn forwards;
}

.fade-in2 {
  animation: 1s linear 0.2s 1 fadeIn forwards;
}

.fade-in3 {
  animation: 1s linear 0.4s 1 fadeIn forwards;
}

.fade-in4 {
  animation: 1s linear 0.6s 1 fadeIn forwards;
}

.unlock {
  animation: 2s linear 0s 1 unlock forwards;
}

/* CHARACTER LIST  */

.char-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.char-item {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.char-item > button {
  background: black;
  width: fit-content;
  padding: 0 2rem;
  transform: rotate(-4deg);
  border: none;
  text-transform: uppercase;
}

.char-item > button:hover {
  font-size: 3rem;
}

.char-item > button:active, 
.char-item > button:focus, 
.char-item > button:visited {
  font-size: 3rem;
  background: white;
  color: black;
  border: 7px solid gold;
}

.char-chosen-wrap {
  max-width: 40%;
  margin-block-end: 2rem;
}

main.speaking.chosen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* CONVERSATION  */

.convo-wrapper {
  display: flex;
  flex-direction: column;
}

.convo-wrapper > .msg {
  background-color: #4da59a;
  padding: 0.5rem 1rem;
  max-width: 60%;
  border-radius: 15px;
}

.convo-wrapper > .msgl {
  align-self: flex-start;
}

.convo-wrapper > .msgr {
  align-self: flex-end;
  background-color: #a5a44d;
}

/* pulsing triangle  */

.trianglepulse-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

h1.title.titlepulse {
  position: absolute;
  left: 33%;
  bottom: -17%;
  z-index: 999;
  font-size: 4rem;
}

.trianglepulse-container {
  width: 600px;
  margin: 360px auto 0 auto;
}
triangleCon {
  height: 600px;
}
.trianglepulse {
  width: 0px;
  height: 0px;
  opacity: 0.75;
  margin: auto;
  position: relative;
  animation: enlarge_1 2s infinite;
}

.trianglepulse:nth-child(2) {
  animation: enlarge_2 2s infinite;
  animation-delay: 0.2s;
}

.trianglepulse:nth-child(3) {
  animation: enlarge_3 2s infinite;
  animation-delay: 0.4s;
}
.trianglepulse:nth-child(4) {
  animation: enlarge_4 2s infinite;
  animation-delay: 0.6s;
}
.trianglepulse:nth-child(5) {
  animation: enlarge_5 2s infinite;
  animation-delay: 0.8s;
}
@keyframes enlarge_1 {
  from {
    opcatiy: 1;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 4px solid rgb(255, 187, 0);
    margin-top: 0px;
  }
  to {
    opacity: 0;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 300px solid rgb(255, 187, 0);
    margin-top: -300px;
  }
}

@keyframes enlarge_2 {
  from {
    opcatiy: 1;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 4px solid rgb(255, 128, 0);
    margin-top: -4px;
  }
  to {
    opacity: 0;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 300px solid rgb(255, 128, 0);
    margin-top: -300px;
  }
}

@keyframes enlarge_3 {
  from {
    opcatiy: 1;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 4px solid rgb(255, 0, 102);
    margin-top: -4px;
  }
  to {
    opacity: 0;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 300px solid rgb(255, 0, 102);
    margin-top: -300px;
  }
}
@keyframes enlarge_4 {
  from {
    opcatiy: 1;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 4px solid rgb(45, 0, 128);
    margin-top: -4px;
  }
  to {
    opacity: 0;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 300px solid rgb(45, 0, 128);
    margin-top: -300px;
  }
}
@keyframes enlarge_5 {
  from {
    opcatiy: 1;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 4px solid brown;
    margin-top: -4px;
  }
  to {
    opacity: 0;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 300px solid brown;
    margin-top: -300px;
  }
}


/* logos  */
.logo-wrapper{
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap:3rem;
  align-items: center;
  margin-block-end: 3rem;
}



.logo-wrapper > img {
  max-width: 20rem;
}

/* SUBJECT OPTIONS  */

main.subjectoptions{
height: 100vh;
}

.subject-options-grid{
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1fr 1fr;
  grid-template-areas: 
      "focus explain explain"
    "topleft primary topright"
    "lowleft lower lowright";
  gap: 3rem;
}

.subject-option{
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid white 2px;
}

.subject-option > h2{
  margin-bottom: 0;
}

.subject-option > button{
  width: 100%;
    height: 100%;
    border: 0;
    font-family: var(--subtitles);
    font-size: 2.5rem;
    font-weight: 600;
}

.subject-option.primary{
grid-area: primary;
background-color: darkslateblue;
}
.subject-option.primary > h2{
  font-size: 5rem;
}
.subject-options-grid > .explain{
  grid-area: explain;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.subject-options-grid > .focus-text, .subject-options-grid > .focus{
  grid-area: focus;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.focus-text > h3.subtitle{
  margin-block-end: 0;
  font-family: var(--subtitles);
  text-transform: initial;
}

.subject-options-grid > .explain > p {
  margin-block-end: 0;
}

.subject-option.secondary{
  margin: 1.5rem;
}

.subject-option.secondary.topleft{
  grid-area: topleft;

}

.subject-option.secondary.lowleft{
  grid-area: lowleft;
}

.subject-option.secondary.lower{
  grid-area: lower;
}

.subject-option.secondary.lowright{
  grid-area: lowright;
  }

.subject-option.secondary.topright{
  grid-area: topright;
  }

/* SUBJECT OPTION PAGE  */

.subject-option-page-grid{
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 0.7fr 2fr 1fr;
  grid-template-areas:
      "subtitle . title"
      "text text img"
      "text text buttons";
  gap: 3rem;
  max-width: 1080px;
  margin: auto;
}

.subject-option-page-grid > .subject-option-page-img{
  grid-area: img;
}

.subject-option-page-grid > .subject-option-page-title{
  grid-area: title;
  display: flex;
  justify-content: end;
  align-items: end;
}

.subject-option-page-grid > .subject-option-page-title > h1{
  text-align: end;
  font-size: 7rem;
  margin-block-end: 0;
}

.subject-option-page-grid > .subject-option-page-subtitle{
  grid-area: subtitle;
  display: flex;
    align-items: end;
}

.subject-option-page-grid > .subject-option-page-subtitle > h2{
  text-align: start;
  font-size: 4.5rem;
  margin-block-end: 0;
}

.subject-option-page-grid > .subject-option-page-text{
  grid-area: text;
}

.subject-option-page-grid > .btn-container{
  grid-area: buttons;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2rem;
}

/* CHOSEN FOCUS  */
main.chosenfocus{
  height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

main.chosenfocus >  h1{
  font-size: 7rem;
  margin-block-end: 0;
  transform: rotate(-4deg);
  background-color: var(--green);
  color:black;
  padding: 0 1rem;
}

main.chosenfocus >  h2{
  font-size: 5rem;
  margin-block-end: 0;
}

.flex-row{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CARD OPTIONS  */
.menu-wrapper.card-options-list{
  gap: 2rem;
}

.menu-wrapper.card-options-list > .link-image{
  max-width: 20%;
}

/* CARD OPTION PAGE */

main.card-option-page{
height:100%;
display:flex;
justify-content: center;
align-items: center;
}

main.card-option-page > .option-item{
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}


main.card-option-page > .option-item > .img-wrapper{
  max-width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

main.card-option-page > .option-item > .img-wrapper > .img-container{
  max-width: 60%;
}

.option-item > .info-container{
  max-width: 50%;
}

.option-item > .info-container > h3{
  max-width: 60%;
  font-family: var(--subtitles);
  letter-spacing: initial;
  text-transform: initial;
}

.option-item > .info-container > .codeword-wrapper > .btn-result-wrapper > button{
  border: solid black 2px;
  color: black;
  font-weight: 600;

}

.option-item > .info-container > .codeword-wrapper > .btn-result-wrapper > button:hover{
  background-color: var(--orange);
}

/* CHOICES  */
main.choices > .text-wrapper > a.link-internal {
  font-size: 4rem;
  background-color: var(--green);
  font-family: var(--titles);
  text-transform: uppercase;
  letter-spacing: var(--heading-line-spacing);
  width: fit-content;
  padding: 0 1rem;
  transform: rotate(-3deg);
  color: black;
  margin-inline-end: 1rem;
}